<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,800" rel="stylesheet">
  <title>Wikipedia viewer</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
