$blue-color: #03a9f4;

p, h1, h2, h3, h4, h5, h6, button, {
  margin: 0; padding: 0;
}
body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}
.btn {
  border: 0;
  border-radius: 4px;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}
.btn--primary {
  background-color: $blue-color;
  color: white;
  padding: 0px 64px;
  margin-left: 12px;
}
#root { width: 100%; height: 100%; }
.container {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 16px;
  overflow: hidden;
}
.flex {
  &__row {
    display: flex;
    &.cen-ver { align-items: center; }
    &.cen-hor { justify-content: center; }
  }
  &__column {
    display: flex;
    flex-direction: column;
    &.cen-ver { justify-content: center; }
    &.cen-hor { align-items: center; }
  }
  &-1 { flex: 1; }
}
@mixin shadow--modern() {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
@mixin cubic-transition($time) {
  -webkit-transition: $time cubic-bezier(.19,1,.22,1);
  -moz-transition: $time cubic-bezier(.19,1,.22,1);
  transition: $time cubic-bezier(.19,1,.22,1);
}
.shadow--modern {
  @include shadow--modern();
}
.text-center {
  text-align: center;
}


h1 {
  margin-bottom: 24px;
  font-weight: 300;
}
.search-wrapper {
  width: 50%;
  min-height: 30%;
  flex: 3;
  margin: 0 auto;
  .select-wrapper { width: 100%; }
}
.content-wrapper {
  width: 100%;
  max-height: 70%;
  flex: 1;
  margin-top: 32px;
  .content {
    background-color: white;
    padding: 32px;
    border-radius: 4px;
    overflow: scroll;
    max-height: 70vh;
    transform: translateY(100vh);
  }
}
.search-wrapper, .content {
  @include cubic-transition(1.5s);
}
.loading-indicator > div {
  margin: 0px auto 48px;
}
.mw-parser-output {
  a {
    text-decoration: none;
    color: $blue-color;
  }
  h2 { padding: 12px 0px; }
  h3 { padding: 8px 0px; }
  p { text-align: justify-content; }
  span.mw-editsection {
    margin-left: 8px;
    font-size: 0.7rem;
  }
  .hatnote {
    &:first-child { text-align: center; }
    padding: 16px;
    margin-bottom: 8px;
  }
  .infobox {
    float: right;
    clear: right;
    @include shadow--modern();
    tr td, th { padding: 0px 8px; }
    margin-left: 48px;
    font-size: 0.65rem!important;
    padding: 16px 0px;
  }
  .toc {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 375px;
    background-color: white;
    padding: 32px;
    margin: 32px 0px;
    @include shadow--modern();
  }
  .thumb.tright {
    float: right;
    clear: right;
    padding: 16px 32px;
  }
  blockquote {
    overflow: hidden;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .reflist {
    font-size: 0.7rem;
  }
  .navbox.navbox-spacing-temp, .plainlinks { display: none; }
}
